@if (firebaseService.user()) {
<section class="container mx-auto m-6">


  @if (backendService.election() == null) {
  <h2 class="text-gray-800 dark:text-white">loading election...</h2>
  }
  @else {

  @if(backendService.question() == null && results() == null) {
  <h2 class="text-gray-800 dark:text-white">waiting for a question...</h2>
  }
  @else if(backendService.question() != null) {


  <app-card title="{{ backendService.question()?.title }}" [subTitle]="backendService.question()?.description">

    @if (hasVoted()) {
    <div class="m-10 flex justify-center">
      <h3 class="text-xl font-bold text-gray-800 dark:text-white">Thank you for voting!</h3>
    </div>
    } @else {

    <app-radio-group [options]="backendService.question()?.options || []" legend="Who did a better job?"
      (selected)="onOptionSelected($event)"></app-radio-group>

    <div class="w-full border-t border-gray-300 mt-6"></div>

    <app-button-group [options]="weights" legend="How important is this?"
      description="From 0 (Meh) to 5 (I cannot live without it)"
      (selected)="onImportanceSelected($event)"></app-button-group>

    <div class="mt-6 flex justify-end">
      <app-button text="Submit vote" (click)="onSubmitVote()"></app-button>
    </div>
    }
  </app-card>

  }

  @if(results() != null) {
  <app-card title="Results" class="p-4">
    <ul role="list" class="divide-y  divide-gray-200">
      @for (question of results() ; track $index) {
      <li class="gap-x-6 gap-y-4 py-5 sm:flex-nowrap">
        <app-weights [question]="question"></app-weights>
      </li>
      }
    </ul>
  </app-card>

  }


  }
</section>
}